
  @import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap');

.app {
  font-family: 'Black Han Sans', sans-serif;
  
}


.Layout {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 30px;
  width: 800px;
  margin: 10px auto 0 auto;

  
}
.bar {
  margin-top: 0px;
  
  width: 800px;
  height: 30px;
  background-color: #d6d6d8;
  font-family:'sans-serif';
  font-size: 20px;
  text-align: left;
  
  
}

.Header {
  font-family: 'Pretendard-Regular';
  font-size: 30px;
  text-align: left;
  float: left;
  width: 30%;
  display: inline;
}
.icon {
  width: 70%;
  float: right;
  text-align: right;
}
.Scroll {

  overflow: auto;
  white-space: nowrap;
  margin: 0 auto;
  display: flex;
}

.InputArea {
  display: flex;
  padding: 20px auto;
  gap: 20px;
  width: 700px;
  height: 50px;
  margin : 20px;
  background-color: #ec4a83;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
}
.Input {
  border: 0px;
  height: 25px;
}
 
.title {
  font-family:  'Black Han Sans', sans-serif;
}
 
.Box {
  width: 200px;
  border: 3px solid;
  border-radius: 10px;
  height: 150px;
  align-self: center;
  justify-content: center;
  align-items: center;
  margin: 10px;
  display: flex;
  flex-direction: column;
}
 
.Button {
  
  border: 0px;
  border-radius: 50px;
  height: 30px;
  margin: 0 10px;
}
